body {
	background-color: #D4DEC8;
	text-align: center;
}
.glavnidiv {
	width: 400px;
	height: 500px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
/*	background-color: white;*/
}
.yozuv{
	font-size: 50px;
	color: #EEF7E8;
	text-transform: uppercase;
	opacity: 0.8;
	letter-spacing: 15px;
}
img{
	border-radius: 3px;
	width: 150px;
	margin-top: 10px;
	border: 3px solid white;
	box-shadow: inset 0px 0px 3px 7px rgba(199,209,192,1),
				15px 15px 21px 0px rgba(125,120,125,1);
}
input {
	margin-bottom: 12px;
	margin-top: 12px;
	height: 28px;
	padding-left: 19px;
	font-weight: bolder;
	background-color: white;
	box-shadow: inset 0px 0px 1px 3px rgba(199,209,192,1),
				13px 13px 21px 0px rgba(125,120,125,1);
	border-radius: 4px;
	border: 1.5px solid white;
}
input::placeholder {
	margin-top: 5px;
	font-size: 20px;
	opacity: 0.8;
	color: #656E73;
}
.text1 {
	margin-left: 26px;
	width: 159px;
}
.text2 {
	width: 153Px;
}
.text3 {
	width: 330px;
}
.tugma {
	font-size: 20px;
	opacity: 0.8;
	color: #656E73;
	width: 80px;
	height: 40px;
}
i {
	font-size: 28px;
}